* {
  box-sizing: border-box;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  line-height: 1;
  font-family: arial;
}

input, select, option, optgroup, textarea, button,
pre, code {
  font-size: 100%;
  font-family: inherit;
}

ol, ul {
  list-style: none;
}